[Unit]
Description=For syncing docker-compose.yml

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/raspberrypi/rtk-base-station/sync-docker-compose/sync.py

[Install]
WantedBy=multi-user.target